.contact-container {
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr 90% 1fr;
  }
}
.contact-container > * {
  grid-column: 2;
}
.contact-container-desc {
  margin-top: 58px;
  line-height: 1.6;
}
form {
  margin-top: 41px;
  margin-bottom: 82px;
}
form p {
  line-height: 1.6;
}
label {
  display: block;
  margin-top: 20px;
}
input {
  margin: 0;
}
input:not([type="radio"]) {
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  border: 1px solid;
  font-size: 12px;
  height: 50px;
}
input[type="radio"] {
  margin-top: 10px;
  margin-right: 10px;
  appearance: auto;
}
label[for="policy"] {
  display: block;
  margin-top: 10px;
  text-align: center;
}
input[type="checkbox"] {
  width: 20px;
  margin-right: 10px;
  appearance: auto;
}
.radio {
  margin-top: 24px;
}
.policy {
  margin-top: 20px;
  text-align: center;
  @media only screen and (max-width: 375px) {
    text-align: left;
  }
}
.policy a {
  color: #f5a623;
  text-decoration: underline;
}
.submit {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="submit"] {
  width: 200px;
  height: 50px;
  font-size: 16px;
  padding: 0;
  background-color: #1b224c;
  color: #fff;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid;
}
.radio p {
  margin-top: 16px;
}

.my-radio {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding-left: 48px;
  cursor: pointer;
  user-select: none;
}
.my-radio input {
  display: none;
}
.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: solid 1px;
  border-radius: 50%;
  box-sizing: border-box;
}
.radio-mark:after {
  content: "";
  position: absolute;
  background: #2e80ff;
  border-radius: 50%;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  opacity: 0;
}
.my-radio input:checked + .radio-mark:after {
  opacity: 1;
}

.wpcf7-not-valid-tip {
  margin-top: 10px;
}
.wpcf7 form .wpcf7-response-output {
  border: none;
  text-align: center;
}
.wpcf7-response-output {
  border: none;
  border-color: #fff;
  color: #dc3232;
  font-weight: bold;
  font-size: 120%;
  padding: 10px;
}

.radio {
  .wpcf7-form-control.wpcf7-radio {
    display: flex;
    flex-direction: column;
  }

  .wpcf7-list-item {
    position: relative;
    margin-left: 0;
  }
  .wpcf7-list-item input {
    display: none;
  }

  .wpcf7-list-item label {
    position: relative;
    line-height: 1;
  }
  span.wpcf7-list-item-label {
    padding-left: 36px;
  }
  .wpcf7-list-item-label .wpcf7-list-item-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: solid 1px;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .wpcf7-list-item label::after {
    content: "";
    position: absolute;
    background: #2e80ff;
    border-radius: 50%;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    opacity: 0;
  }
  .wpcf7-form-control.wpcf7-radio
    input[type="radio"]
    + .wpcf7-list-item-label::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: solid 1px;
    border-radius: 50%;
    box-sizing: border-box;
  }
  .wpcf7-form-control.wpcf7-radio
    input[type="radio"]
    + .wpcf7-list-item-label::after {
    content: "";
    position: absolute;
    background: #2e80ff;
    background: $c-main;
    border-radius: 50%;
    top: 3px;
    bottom: 0px;
    left: 3px;
    right: 2px;
    width: 16px;
    height: 16px;
    opacity: 0;
  }

  .wpcf7-form-control.wpcf7-radio
    input[type="radio"]:checked
    + .wpcf7-list-item-label::after {
    opacity: 1;
  }
}

.policy {
  label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wpcf7-list-item-label {
    margin-top: 10px;
    // 独自のcss
    // position: relative;
    // padding-left: 36px;
  }
}
.wpcf7-list-item.last {
  margin: 0;
}
