.contact-thanks {
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  height: calc(100vh - 255px - 80px - 50px - 10px);
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr 90% 1fr;
  }
  @media only screen and (max-width: 375px) {
    font-size: 12px;
  }
}
.contact-thanks > * {
  grid-column: 2;
}
.contact-thanks-wrapper {
  margin-top: 83px;
  text-align: center;
  line-height: 1.7;
}

.thanks-desc {
  text-align: center;
  line-height: 1.7;
}
.contact-thanks-link {
  text-decoration: underline;
  margin-top: 83px;
}
