.cta {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.cta > * {
  grid-column: 1;
}
.cta__bg-image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 256px;
  }
  .cta__bg-image img {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .cta__bg-image-content {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    position: relative;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $c-background;
  }
  .cta__bg-image-title {
    margin-top: 70px;
    margin-bottom: 29px;
    font-size: fluid(18, 32, 320, 768);
    font-weight: bold;
  }
  .cta__bg-image-contact {
    margin-top: 22px;
    text-decoration: underline;
  }
  .cta__only-text {
    width: 100%;
    height: 80px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr fluid(200, 280, 788, 1000) 1fr;
    align-items: end;
    justify-content: center;
    gap: 20px;
    @media only screen and (max-width: 768px) {
      padding-top: 25px;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 10px;
    }
  }
  .cta__only-text-left {
    font-weight: bold;
    justify-self: end;
    @media only screen and (max-width: 768px) {
      justify-self: center;
    }
  }
  .cta__only-text-center {
    margin-left: 10px;
    font-size: fluid(24, 36, 788, 1000);
    font-weight: bold;
    line-height: 1;
    @media only screen and (max-width: 768px) {
      justify-self: center;
    }
  }
  .cta__only-text-right {
    @media only screen and (max-width: 768px) {
      justify-self: center;
    }
  }
