.l-bread-crumb {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  align-items: center;
  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr 90% 1fr;
  }
}
.l-bread-crumb > * {
  grid-column: 2;
}
.l-bread-crumb {
  background: $c-sub;
  height: 50px;
  height: auto;
  padding: 9px 0;
}
.l-bread-crumb-inner a {
  text-decoration: underline;
}

.breadcrumbs span[property="name"] {
  display: inline-block;
  padding: 0;
  margin-top: -3px;
  vertical-align: middle;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs span[property="name"]:hover {
  max-width: none;
}

.l-bread-crumb .current-item {
  display: inline-block;
  vertical-align: middle;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2;
}
