  .l-pagenation-list {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 16px;
    padding-bottom: 80px;
  }
  .l-pagenation-link {
    padding: 16px;
    border: 1px solid;
  }
  .l-pagenation-link.--active {
    padding: 16px;
    border: 1px solid;
    background: #1b224c;
    color: white;
  }
